doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title 苏州兴万佳厂房网
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animate.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        link(href="css/page/main.css", rel="stylesheet")
        script(src='js/jquery-1.10.2.js')
        script(src="js/bootstrap.min.js")

    body(style="background-color: #fff;")
        .c-header 苏州兴万佳厂房网
        .c-nav-container
            .c-wrapper
                ul.c-nav.clearfix
                    li.c-nav-li
                        a.c-a(href="/main") 网站首页
                    li.c-nav-li
                        a.c-a(href="/record") 房源登记
                    li.c-nav-li
                        a.c-a(href="/list/#{yq_factorys[0].type_number}") 园区厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{wz_factorys[0].type_number}") 吴中厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{xq_factorys[0].type_number}") 新区厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{xc_factorys[0].type_number}") 相城厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{other_factorys[0].type_number}") 其他厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{land_factorys[0].type_number}") 土地租售
        .c-picture-container
            .c-wrapper
                #carousel-example-generic.c-picture-con.carousel.slide(data-ride="carousel")
                    // Indicators
                    ol.carousel-indicators
                        li.active(data-target="#carousel-example-generic", data-slide-to="0")
                        li(data-target="#carousel-example-generic", data-slide-to="1")
                        li(data-target="#carousel-example-generic", data-slide-to="2")
                    // Wrapper for slides
                    .c-img-div.carousel-inner(role="listbox")
                        .item.active
                            img.c-img(src="img/banner1.jpg", alt="")
                            .carousel-caption 测试一下咯
                        .item
                            img.c-img(src="img/banner2.jpg", alt="")
                            .carousel-caption 测试一下咯
                        .item
                            img.c-img(src="img/banner3.jpg", alt="...")
                            .carousel-caption 测试一下咯      
                    // Controls
                    a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
                        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
                        span.sr-only Previous
                    a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
                        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
                        span.sr-only Next
        .c-list-container
          .c-wrapper
            .row
              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  园区厂房出租
                ul
                    each factory in yq_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{yq_factorys[0].type_number}") 更多>>
              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  吴中厂房出租
                ul
                    each factory in wz_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{wz_factorys[0].type_number}") 更多>>
            .row
              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  新区厂房出租
                ul
                    each factory in xq_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{xq_factorys[0].type_number}") 更多>>

              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  相城厂房出租
                ul
                    each factory in xc_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{xc_factorys[0].type_number}") 更多>>
            .row
              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  其他厂房出租
                ul
                    each factory in other_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{other_factorys[0].type_number}") 更多>>

              .c-list-div.col-md-6
                .c-title
                  span.title
                    span.glyphicon.glyphicon-fire(aria-hidden="true")
                    span  土地出租出售
                ul
                    each factory in land_factorys
                        li [#{factory.type}]
                            a(href="/detail/#{factory.type_number}/#{factory.id}") #{factory.title}
                            span.time #{factory.time}
                .more 
                    a(href="/list/#{land_factorys[0].type_number}") 更多>>
        .c-main-container.clearfix
            .c-wrapper.clearfix
              .c-aheader
                .c-title
                  span.title
                    span.glyphicon.glyphicon-leaf(aria-hidden="true")
                    span  热门推荐
              .c-div.clearfix
                each factory in rc_factorys
                  a(href="/detail/#{factory.type_number}/#{factory.id}").c-item
                    div
                        img
                    .c-name #{factory.title}
                    .c-area 面积：#{factory.acreage}
                    .c-type 业态：#{factory.kind}
                    .c-address 地址：#{factory.address}
        .c-wrapper.c-hr
        .c-footer-container
            .c-wrapper.c-footer-wrapper
                .footer-left
                    p 苏州工业园区兴万佳投资咨询有限公司
                    p 地址：苏州工业园区星海街188号1幢1217室
                .footer-right
                    p 电话：18168720433
                    p E-mail:sztopcf@163.com

                


        script(src='js/page/main.js')
