doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1, maximum-scale=1, user-scalable=no")
        title xxxx网
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/bootstrap-theme.min.css", rel="stylesheet")
        link(href="font-awesome/css/font-awesome.css", rel="stylesheet")
        link(href="css/animate.css", rel="stylesheet")
        link(href="css/style.css", rel="stylesheet")
        link(href="css/page/main.css", rel="stylesheet")
        script(src='js/jquery-1.10.2.js')
        script(src="js/bootstrap.min.js")

    body(style="background-color: #fff;")
        .c-header 苏州厂房网
        .c-nav-container
            .c-wrapper
                ul.c-nav.clearfix
                    li.c-nav-li
                        a.c-a(href="/main") 网站首页
                    li.c-nav-li
                        a.c-a(href="/record") 房源登记
                    li.c-nav-li
                        a.c-a(href="/list/#{yq_factorys[0].type_number}") 园区厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{wz_factorys[0].type_number}") 吴中厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{xq_factorys[0].type_number}") 新区厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{xc_factorys[0].type_number}") 相城厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{other_factorys[0].type_number}") 其他厂房
                    li.c-nav-li
                        a.c-a(href="/list/#{land_factorys[0].type_number}") 土地租售
        .c-record-container
            form.form-horizontal(method="post",action="/main/new")
                .form-group
                    label.col-md-2.control-label 类型
                    .col-md-6
                        select.form-control(name="records[type]")
                            option 出租
                            option 出售
                .form-group
                    label.col-md-2.control-label 地区
                    .col-md-6
                        select.form-control(name="records[area]")
                            option 园区厂房出租
                            option 吴中厂房出租
                            option 新区厂房出租
                            option 相城厂房出租
                            option 其他厂房出租
                            option 土地出租出售
                .form-group
                    label.col-md-2.control-label 地址
                    .col-md-6
                        input.form-control(type="text",name="records[address]")
                .form-group
                    label.col-md-2.control-label 面积
                    .col-md-6
                        input.form-control(type="text",name="records[acreage]")
                .form-group
                    label.col-md-2.control-label 联系人
                    .col-md-6
                        input.form-control(type="text",name="records[person]")
                .form-group
                    label.col-md-2.control-label 联系电话
                    .col-md-6
                        input.form-control(type="text",name="records[telephone]")
                
                .form-group
                    label.col-md-2.control-label 详细描述
                    .col-md-6
                        textarea.form-control(rows="4",name="records[description]")
                .form-group
                    .col-sm-offset-2.col-sm-5
                    button.btn.btn-default(type="submit") 提交
        .c-wrapper.c-hr
        .c-footer-container
            .c-wrapper.c-footer-wrapper
                .footer-left
                    p 苏州工业园区兴万佳投资咨询有限公司
                    p 地址：苏州工业园区星海街188号1幢1217室
                .footer-right
                    p 电话：18168720433
                    p E-mail:sztopcf@163.com















